<div class="container">
<h1><%= link_to "Crear Nuevo", new_todo_path %></h1>

  <% @todos.each do |todo| %>
    <div class="well">
      <h3> <%= link_to todo.description, todo %> </h3>
      <p> <%= todo.completed %> </p>
      <p> <%= link_to "Borrar", todo, method: :delete %> </p>
    </div>
  <% end %>
</div>
